on:
  pull_request:
    branches:
    - main
    paths:
    - lib/index.js
  
  workflow_dispatch:

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Set Masked Env
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Update npm
        run: npm install -g npm

      - name: Cache node modules
        uses: actions/cache@v2
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Restore File
        run: echo "${{ secrets.FILE }}" > ./.env

      - name: Restore OS Env Variables
        uses: ./
        with:
          filePath: ./.env

      - name: Get the output time
        run: echo ${HELLO}
